body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: radial-gradient(circle at center center, transparent,rgb(137,111,63)),linear-gradient(87deg, rgba(80, 80, 80,0.05) 0%, rgba(80, 80, 80,0.05) 50%,rgba(6, 6, 6,0.05) 50%, rgba(6, 6, 6,0.05) 100%),linear-gradient(105deg, rgba(26, 26, 26,0.05) 0%, rgba(26, 26, 26,0.05) 50%,rgba(155, 155, 155,0.05) 50%, rgba(155, 155, 155,0.05) 100%),linear-gradient(212deg, rgba(130, 130, 130,0.05) 0%, rgba(130, 130, 130,0.05) 50%,rgba(81, 81, 81,0.05) 50%, rgba(81, 81, 81,0.05) 100%),linear-gradient(139deg, rgba(65, 65, 65,0.05) 0%, rgba(65, 65, 65,0.05) 50%,rgba(181, 181, 181,0.05) 50%, rgba(181, 181, 181,0.05) 100%),linear-gradient(331deg, rgba(8, 8, 8,0.05) 0%, rgba(8, 8, 8,0.05) 50%,rgba(120, 120, 120,0.05) 50%, rgba(120, 120, 120,0.05) 100%),linear-gradient(117deg, rgba(135, 135, 135,0.05) 0%, rgba(135, 135, 135,0.05) 50%,rgba(63, 63, 63,0.05) 50%, rgba(63, 63, 63,0.05) 100%),radial-gradient(circle at center center, hsl(127,1%,24%),hsl(127,1%,24%));;
    
}
table {
    max-width: 800px;
    margin: 0 auto;
    border-collapse: collapse;
}
th, td {
    width: 50px;
    height: 50px;
    border: 1px solid #432d2d;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
   
}
.colors {
    background-color: rgb(61, 60, 227);
}
button {
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 10px;
    background-color: rgb(184, 174, 150);
}
tr {
    color: rgb(154, 140, 140);
}
th {
    color: rgb(32, 28, 28);
}